<section id="contect" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
<h2>버그 및 오역 제보</h2>
<p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li><a href="https://discord.gg/WXDRK74" class="btn btn-default btn-lg">DISCORD</a>

                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
