    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>내려받기 (배포 중단)</h2>
                    <p>• 공식 한글화 발매 결정으로 인한 배포 중단</p>

                    <p></p>
                    <a href="https://www.nintendo.co.kr/news/view.php?no=423" class="btn btn-default btn-lg">경 축</a>
                    <p></p>

                    <p> </p>
                    <p> </p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p>* 압축 해제 비밀번호는 아래 디스코드의 "공지 채널 웹 주소" 66자</p>
            </div>
        </div>
    </section>
