    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>내려받기 (2020년 04월 15일자)</h2>
                    <p>• 수정 내역</p>
                    <p>- 타이틀 로고 변경 및 오탈자 교정 등</p>
                    <p></p>
                    <a href="https://mega.nz/file/vzw3wTDa#zMk9Y6a7bbqY1rvKJrfKZbjo5EIYaZ2NXd2-SKHIXug" class="btn btn-default btn-lg">sxos 전용</a>
                    <p></p>
                    <a href="https://mega.nz/file/X7p1iTyA#OOpZDuWQwPH4u1sIYakTjBYZFhkVoxQxdfMR_xYUhbw" class="btn btn-default btn-lg">atmosphere 전용</a>
                    <p> </p>
                    <p> </p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p>* 압축 해제 비밀번호는 아래 디스코드의 "공지 채널 웹 주소" 66자</p>
            </div>
        </div>
    </section>
